.layout {
    align-items: center;
    text-align: center;
    width: 60%;
    background: #eee;
    margin: 0 auto;
}

.main-containter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    line-height: 4px;
    font-size: 15px;
}

.names {
    padding: 15px 0;
    font-size: 25px;
}