.layout {
    align-items: center;
    text-align: center;
}

.main-containter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    padding-top: 10px;
    line-height: 5px;
}