.layout {
    align-items: center;
    text-align: center;
}

.main-containter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
    line-height: 4px;
    font-size: 15px;
    width: 80%;
    background-color: #eee;
    padding: 10px 0;
    margin: 20px auto;
}

.names {
    padding: 15px 0;
    font-size: 25px;
}